substitutions:
    led_pin: GPIO4
    switch_1_relay_pin: GPIO13
    switch_2_relay_pin: GPIO14
    switch_1_button_pin: GPIO16
    switch_2_button_pin: GPIO12

status_led:
  pin:
    number: ${led_pin}
    inverted: True

output:
  # Top (or only) button
  - platform: gpio
    pin: ${switch_1_relay_pin}
    id: relay1
  # Bottom button (for Smart Double Switch - delete for single switch)
  - platform: gpio
    pin: ${switch_2_relay_pin}
    id: relay2
    
switch:
  # Top (or only) button
  - platform: binary
    name: "${friendly_name} Top"
    output: relay1
    id: light1
    
  # Bottom button (for Smart Double Switch - delete for single switch)
  - platform: binary
    name: "${friendly_name} Bottom"
    output: relay2
    id: light2 

# Buttons
binary_sensor:
  # Top (or only) button
  - platform: gpio
    pin:
      number: ${switch_1_button_pin}
      mode: INPUT
      inverted: True
    name: "${friendly_name} Top Button"
    #toggle relay on push
    on_press:
      - light.toggle: light1
  
  # Bottom button (for Smart Double Switch - delete for single switch)
  - platform: gpio
    pin:
      number: ${switch_2_button_pin}
      mode: INPUT_PULLUP
      inverted: True
    name: "${friendly_name} Bottom Button"
    #toggle relay on push
    on_press:
      - light.toggle: light2