substitutions:
    led_pin: GPIO0
    switch_1_relay_pin: GPIO5
    switch_2_relay_pin: GPIO14
    switch_3_relay_pin: GPIO12
    switch_1_button_pin: GPIO16
    switch_2_button_pin: GPIO4
    switch_3_button_pin: GPIO3

status_led:
  pin:
    number: ${led_pin}
    inverted: True

output:
  # 1st button
  - platform: gpio
    pin: ${switch_1_relay_pin}
    id: relay1

  # 2nd button
  - platform: gpio
    pin: ${switch_2_relay_pin}
    id: relay2

  # 3rd button
  - platform: gpio
    pin: ${switch_3_relay_pin}
    id: relay3
    
switch:
  # 1st button
  - platform: binary
    name: "${friendly_name} 1st"
    output: relay1
    id: light1

  # 2nd button
  - platform: binary
    name: "${friendly_name} 2nd"
    output: relay2
    id: light2

  # 3rd button
  - platform: binary
    name: "${friendly_name} 3rd"
    output: relay3
    id: light3

binary_sensor:
  # 1st button
  - platform: gpio
    pin:
      number: ${switch_1_button_pin}
      mode: INPUT
      inverted: True
    name: "${friendly_name} 1st Button"
    #toggle relay on push
    on_press:
      - light.toggle: light1

  # 2nd button
  - platform: gpio
    pin:
      number: ${switch_2_button_pin}
      mode: INPUT_PULLUP
      inverted: True
    name: "${friendly_name} 2nd Button"
    #toggle relay on push
    on_press:
      - light.toggle: light2

  # 3rd button
  - platform: gpio
    pin:
      number: ${switch_3_button_pin}
      mode: INPUT_PULLUP
      inverted: True
    name: "${friendly_name} 3rd Button"
    #toggle relay on push
    on_press:
      - light.toggle: light3